p {
    font-family: "Mukta";
    font-size: 22px;
    font-weight: 400;
    text-align: center;

}

button {
    font-family: "Mukta";
    font-size: 17px;
    font-weight: 200;
    margin: 0 auto;

    
}